<div class="row" id="sourceSelectPanel" style="display:none">
    <video id="video" width="100%"  style="border: 1px solid gray"></video>
    <label for="sourceSelect">Change video source:</label>
    <select id="sourceSelect" style="width:100%">
    </select>
</div>
<script src="../javascripts/cam.js"></script>
<script type="text/javascript">
    // async function opencam(para_id) {
      let selectedDeviceId;
      let codeReader = new ZXing.BrowserMultiFormatReader()
      console.log('ZXing code reader initialized')
      codeReader.listVideoInputDevices()
        .then((videoInputDevices) => {
          let sourceSelect = document.getElementById('sourceSelect')
        //   document.getElementById('sourceSelect').innerHTML='';
          selectedDeviceId = videoInputDevices[0].deviceId
          if (videoInputDevices.length >= 1) {
            videoInputDevices.forEach((element) => {
              let sourceOption = document.createElement('option')
              sourceOption.text = element.label
              sourceOption.value = element.deviceId
              sourceSelect.appendChild(sourceOption)
            })

            sourceSelect.onchange = () => {
              selectedDeviceId = sourceSelect.value;
            };


          }

        //   document.getElementById('startButton').addEventListener('click', () => {

        //   })

        //   document.getElementById('resetButton').addEventListener('click', () => {
        //     codeReader.reset()
        //     document.getElementById(para_id).textContent = '';
        //     console.log('Reset.')
        //   })

        })
        .catch((err) => {
          console.error(err)
        })
    // }
    async function opencam(para_id) {
        let sourceSelectPanel = document.getElementById('sourceSelectPanel')
        sourceSelectPanel.style.display = 'block'
        codeReader.decodeFromVideoDevice(selectedDeviceId, 'video', (result, err) => {
        if (result) {
            //output
            console.log(result)
            console.log(para_id)
            document.getElementById(para_id).value = result.text
            var enterKeyEvent = makeKeyPressEvent('Enter', 13, 13);
            document.getElementById(para_id).dispatchEvent(enterKeyEvent);
            codeReader.reset();
            let sourceSelectPanel = document.getElementById('sourceSelectPanel')
            sourceSelectPanel.style.display = 'none'

        }
        if (err && !(err instanceof ZXing.NotFoundException)) {
            console.error(err)
            document.getElementById(para_id).value = err
        }
        })
        console.log(`Started continous decode from camera with id ${selectedDeviceId}`)
    }
    function makeKeyPressEvent(keyName, keyCode, charCode){
    var event = new KeyboardEvent('keypress');
    Object.defineProperties(event, {
        charCode: {value: charCode},
        keyCode: {value: keyCode},
        keyIdentifier: {value: keyName},
        which: {value: keyCode}
    });
    return event;
}
  </script>
