.btn_white{
    background-color: white;
}
.btn_mystyle{
    padding: 5px 45px;
    font-weight: 900;
}
*{
    font-size: 18px;
    font-weight: 500;
}
.showerr{
    background-color: red;
    border-radius: 5px;
    padding: 15px;
}
.showwarning{
    background-color: #ffc107;
    color: #212529;
    border-radius: 5px;
    padding: 15px;
}
.showsuccess{
    background-color: green;
    border-radius: 5px;
    padding: 15px;
}

.userinfo-fnt {
    font-size: 85%;
    color: #000;
}

.userinfo-containner {
    border: none;
    padding: 2px;
    background-color: #fff;
    margin: 5px;
    border-radius: 8px;
}

.bt-black{ 
    background-color: #000;
    color: #fff;
}

.scan-txt {
    font-size: 1rem;
}

.rtv-txt {
  padding-left: 15px;
}

.lstPanel {
    min-height: 50vh;
    overflow-y: 50vh;
    overflow: hidden;
}
.scanlist.active{
    background-color: blue;
}
.table-overflow{
    overflow: auto;
    height: 326px;
}
.view {
    margin: auto;
    width: 100%;
    
  }
  .table td, .table th {
    font-size: 13px;
    }
  .wrapper {
    position: relative;
    overflow: auto;
    border: 1px solid black;
    white-space: nowrap;
    height: 325px;
  }
  
  .sticky-col {
    position: -webkit-sticky;
    position: sticky;
    background-color: black;
  }
  
  .first-col {
    width: 75px;
    min-width: 75px;
    max-width: 75px;
    left: 0px;
  }
  
  .second-col {
    width: 75px;
    min-width: 75px;
    max-width: 75px;
    left: 75px;
  }
  .three-col {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    left: 150px;
  }
  .boxwhite{
    background-color: white;
    color: black;
    border-radius: 4px;

  }
  .boxwhite p{
    margin: 0px;
  }
  .pbstyle{
    font-weight: 600;
    color: mediumblue;
  }
  .RTV_BTN{
    padding: 0px 15px;
    background-color: purple;
    color: white !important;
    margin: 0px 0px 0px 15px;
    border-radius: 4px;
  }
/* tbody {
    display:block;
    height:300px;
    overflow:auto;
} */
/* thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
} */
/* thead {
    width: calc( 100% - 1em )
} */
/* table {
    width:100%;
} */

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-item {
  justify-content: center;
}