<div id='selStoreDiv'> 
<script> 
 
function startSelStc(){
    setTimeout(loadPkmStoreOption(),1000);
    $('#selStcModal').modal('show');  
}

function loadPkmStoreOption() {
    $('#stctxt').html(waitimg);
    userId	= readCookie("CCUSERID");	
   
    $('#message').html("<center><img src='../images/wait.gif' width='100px' ></center>" );

    var qry = "exec WebCC_LoadStoreByUser '"+userId+"' "; 
    ajaxGetQuery(qry, function (isok, resp) {
        if (isok) {
            var jsn = JSON.parse(resp);
            //console.log(resp);
            var itm = jsn.dbitems;
            var htm = "";
            htm += " <option value='%'>ทุกสาขา</option>"
            for (var i = 0; i < itm.length; i++) {             
                htm += " <option value='"+ itm[i].ST_CODE +"'>" +itm[i].ST_CODE +"-"+ itm[i].ST_TNAME +"</option>"
            }
            $('#message').html('');
            $('#stctxt').html(htm);
        }
        else {
            alert(resp);
        }
        });
}
function confirmStore(){ 
    var stc   =$('#stctxt').val().trim();
    var stn   =$('#stctxt option:selected').text() ;
    $('#selStcModal').modal('hide');

    saveCookie('CCSTORE',stc,1); 
    saveCookie('CCSTNAME',stn,1);

    stcode=stc;
    storeName=stn;
 
    userId	= readCookie("CCUSERID");	
	userId=userId.trim();
	  
    //$('#workStore').text('Store ['+storeName +']')
    $('#workStore').text(stcode+'-'+storeName);
    $('#store_login').text('['+stcode+']');

    location.reload();
}
function cancelStore(){ 
    $('#selStcModal').modal('hide');
}
</script>

    <div class="modal fade" id="selStcModal" role="dialog"  tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header" style="padding:10px 20px;">
                        <h4> กรุณาเลือกสาขา</h4>  
                </div>
                <div style="padding:10px 20px;">
                    <div class="form-group">
                        <label for="stctxt"><span class="glyphicon glyphicon-user"></span>Working at Store</label>                         
                            <select class="form-control" id ='stctxt'>                                
                            </select>  
                            <div id='message' class="info info-default">
                            </div>
                    </div>
                   
                    <a href = "javascript:confirmStore()" class="btn btn-success">Confirm </a>
                    <a href = "javascript:cancelStore()"  class="btn btn-danger">Cancel</a>
                </div>
            </div>
                
            <div class="modal-footer">
                    
            </div>

        </div>
    </div>

</div>
 