<!-- Upfront Modal for popup -->
<div class="modal fade" id="myModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="mdHeader">Alert</h4>
            </div>

            <div class="modal-body" id="mdBody">
                <p>Some text in the modal.</p>
            </div>

            <div class="modal-footer">
                <button type="button" id="myBtnOK" class="btn btn-primary">YES</button>
                <button type="button" id="myBtnCC" class="btn btn-default">NO</button>

            </div>
        </div>

    </div>
</div>
 <script>
function upfAlert(text, callBack) {
    $("#mdBody").text(text);
    $('#mdHeader').html("ALert");
    $("#myBtnOK").text("CLOSE");
    $("#myBtnCC").hide();
    $("#myModal").modal('show');
    $("#myBtnOK").click(function () {
        $("#myModal").modal("hide");
        callBack(true);
    });
    setTimeout(function () {
        $("#myModal").modal("hide");
        callBack(true);
    }, 4000);
}

function upfConfirm(text, callBack) {
    $("#mdBody").text(text);
    $("#myBtnOK").text("YES");
    $("#myBtnOK").show();
    $("#myBtnCC").show();
    $("#myModal").modal('show');
    $("#myBtnCC").unbind();
    $("#myBtnCC").click(function () {
        $("#myModal").modal("hide");
        callBack(false);
    });
    $("#myBtnOK").unbind();  // ---importance, unbind the old event
    $("#myBtnOK").click(function () {
        $("#myModal").modal("hide");
        callBack(true);
    });
}


</script> 