<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%= title %></title>
    <%- include('../includes/libary.ejs') %>
</head>

<body style="background-color: black;">
    <%- include('../partials/header.ejs') %>
    <style>
        .myinput {
            width: 100%;
            margin: 15px;
            border-radius: 24px;
            text-align: center;
        }
    </style>
    <div class="container mt-3">

        <div class="container text-light">
            <div id="boxMessage"></div>
            <div class="row">

                <div class="col align-self-center">
                    <div class="row justify-content-around">
                        <div class="col-12">
                            <button type="button" onclick="goBack(this)"
                                class="btn btn-secondary btn-sm btn-block">กลับเมนูหลัก</button>
                        </div>
                    </div>
                    <hr style="border-top: 1px solid #fff;">
                    <div class="row justify-content-around">
                        <p class="text-center">ยังไม่ได้นับทั้งหมด ที่ on hand ไม่เท่ากับศูนย์ <br> จำนวน <span id="nocountshow">0</span> รายการ</p>
                        <input type="text" class="myinput" id="myInput" placeholder="Search " title="Type in a name">
                    </div>
                    <div id="addtable" >

                    </div>
                    <hr style="border-top: 1px solid #fff;">
                    <div class="row justify-content-around">
                        <p class="text-center">ยังไม่ได้นับทั้งหมด ที่ on hand เท่ากับศูนย์ <br> จำนวน  <span id="nocountshow2">0</span> รายการ</p>
                        <input type="text" class="myinput" id="myInput2" placeholder="Search " title="Type in a name">
                    </div>
                    <div id="addtable2" >

                    </div>
         
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height:300px;"></div>
    <script>
        async function shownotcount1() {
            try {

                let cntNum = '<%= cntNum %>';

                if (cntNum.length) {
                    let item = {
                        CNTNUM: cntNum,
                        MODE:1
                    }


                    let getapi = await call_api("POST", "../api/listitemnotcount", item, 'auth');
                    console.log("🚀 ~ file: listitemnotcount.ejs ~ line 105 ~ onSubmit ~ getapi", getapi)

                    if (getapi.data.dbrows == 0) {
                        let tableBody = `<p class="text-center mt-2">ไม่พบข้อมูล</p>`;
                        document.getElementById("addtable").innerHTML = tableBody;
                    } else {
                        document.getElementById("nocountshow").innerHTML = getapi.data.dbrows;
                        let tableBody = `
                        <div class="table-responsive text-nowrap" style="height: 300px !important; color:red !important; overflow: auto;">
                            <table class="table" id='table' >
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">SKU</th>
                                        <th scope="col">ALLLOCATION</th>
                                        <th scope="col">BARCODE</th>
                                        <th scope="col">PRNAME</th>
                                        <th scope="col">BRAND</th>
                                        <th scope="col">UNITSIZE</th>
                                    </tr>
                                </thead>
                                <tbody   id="myTable">
                                    ${getapi.data.dbitems.map((item, i) => `
                                        <tr  class="scanlist " onclick="showselecttable(this)">
                                            <th scope="row">${i+1}</th>
                                            <td>${item.LOCATION}</td>
                                            <td>${item.SKU}</td>
                                            <td>${item.ALLLOCATION}</td>
                                            <td>${item.BARCODE}</td>
                                            <td>${item.PRNAME}</td>
                                            <td>${item.BRAND}</td>
                                            <td>${item.UNITSIZE}</td>
                                        </tr>
                                        `).join("")}
                                </tbody>
                            </table>
                        </div>
                        `;

                        document.getElementById("addtable").innerHTML = tableBody;

                    }
                } else {
                    alertMessage('showwarning', 'ไม่พบเลขที่ใบนับ', 5000);
                }

            } catch (error) {
                alertMessage('showerr', error, 10000);
            }
        }
        async function shownotcount2() {
            try {

                let cntNum = '<%= cntNum %>';

                if (cntNum.length) {
                    let item = {
                        CNTNUM: cntNum,
                        MODE:0
                    }


                    let getapi = await call_api("POST", "../api/listitemnotcount", item, 'auth');
                    console.log("🚀 ~ file: listitemnotcount.ejs ~ line 105 ~ onSubmit ~ getapi", getapi)

                    if (getapi.data.dbrows == 0) {
                        let tableBody = `<p class="text-center mt-2">ไม่พบข้อมูล</p>`;
                        document.getElementById("addtable2").innerHTML = tableBody;
                    } else {
                        document.getElementById("nocountshow2").innerHTML = getapi.data.dbrows;
                        let tableBody = `
                        <div class="table-responsive text-nowrap" style="height: 300px !important;  overflow: auto;">
                            <table class="table" id='table2'>
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">SKU</th>
                                        <th scope="col">ALLLOCATION</th>
                                        <th scope="col">BARCODE</th>
                                        <th scope="col">PRNAME</th>
                                        <th scope="col">BRAND</th>
                                        <th scope="col">UNITSIZE</th>
                                    </tr>
                                </thead>
                                <tbody   id="myTable2">
                                    ${getapi.data.dbitems.map((item, i) => `
                                        <tr  class="scanlist " onclick="showselecttable(this)">
                                            <th scope="row">${i+1}</th>
                                            <td>${item.LOCATION}</td>
                                            <td>${item.SKU}</td>
                                            <td>${item.ALLLOCATION}</td>
                                            <td>${item.BARCODE}</td>
                                            <td>${item.PRNAME}</td>
                                            <td>${item.BRAND}</td>
                                            <td>${item.UNITSIZE}</td>
                                        </tr>
                                        `).join("")}
                                </tbody>
                            </table>
                        </div>
                        `;

                        document.getElementById("addtable2").innerHTML = tableBody;

                    }
                } else {
                    alertMessage('showwarning', 'ไม่พบเลขที่ใบนับ', 5000);
                }

            } catch (error) {
                alertMessage('showerr', error, 10000);
            }
        }
        function goBack() {
            window.location = "/maincontrol";
        }

        $(document).ready(function () {
            shownotcount1()
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            shownotcount2()
            $("#myInput2").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</body>

</html>