<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%= title %></title>
    <%- include('../includes/libary.ejs') %>
    
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <h1>hello PDA</h1>
    <script>
        $( document ).ready(function() {
            call()
        });
        async function call(){
            let para ='QT2102000027';
            let getsql = await call_sql(`exec  TWDQT..qt_ApproveResponseTo '${para}'`)
            if(getsql.dbcode == 0){
                console.log(getsql)
            }else{
                alert("call:" + getsql.dbmessage)
                return
            }
        }
    </script>
</body>
</html>