<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%= title %></title>
    <%- include('../includes/libary.ejs') %>
    <style>
        .btn_white{
            background-color: white;
        }
        .btn_mystyle{
            padding: 5px 45px;
            font-weight: 900;
        }
        *{
            font-size: 18px;
            font-weight: 500;
        }
    </style>
</head>

<body style="background-color: black;">
    <%- include('../partials/header.ejs') %>
    <div class="container mt-3">
        <form id="userLogin">
            <div class="form-group">
                <label for="user" class="text-white">User </label>
                <input type="text" class="form-control" id="user">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="text-white">Password</label>
                <input type="password" id="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="d-flex justify-content-around">
                <button type="button" id="clearValue"  class="btn btn_white btn_mystyle">Reset</button>
                <button type="submit" id="submit" class="btn btn_white btn_mystyle">Login</button>
            </div>
            
        </form>
    </div>
    <script>
        async function onSubmittest(event) {
        try {
            event.preventDefault();
                    let userId = document.getElementById("user").value;
                    let password = document.getElementById("password").value;
                    let getsql = await call_sql(`exec  CCTSQL..WebCC_CheckUserLogin2 '${userId}','${password}',''`);
                    // if (getsql.dbcode === 0) {
                        console.log(getsql)
                        let {RESULT ,SVRDATE, USERGROUP, GroupName, CHGPWDDATE, PRICEORCOST} = getsql.dbitems[0];
                        if(!RESULT.localeCompare("OKOK")){
                            let now = new Date();
                            let chgpwdDate = new Date(CHGPWDDATE);
                            const diffTime = Math.abs(chgpwdDate - now);
                            let lastChgPwdDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
                            saveCookie('CCUSERID', userId);
                            saveCookie('CCUGROUP', USERGROUP);
                            saveCookie('CCPRICEORCOST', PRICEORCOST);
                            saveCookie('CCGROUPNAME', GroupName);
                            saveCookie('CCLSTCHGPWDDAYS', lastChgPwdDays);
                            if(lastChgPwdDays > 90){
                                window.location.href = "./changepassword";
                            }else{
                                let qry = `update SYSTEMUSER 
                                    set INVALIDPWD=0,
                                    LASTLOGIN=getdate()
                                    where USERID = '${userId}'`;
                                getsql = await call_sql(qry);
                                if(getsql.dbcode === 0){
                                    qry = `SELECT right('0000'+convert(varchar,value),4) as PF_NUM from openjson((Select USER2PROFILE From SYSTEMUSER Where USERID = '${userId}'))`;
                                    getsql = await call_sql(qry);
                                    let user2profile = '';
                                    getsql.dbitems.map(item => user2profile += `X${item.PF_NUM}`);
                                    alert(RESULT);
                                    saveCookie('CCUPROFILE',user2profile);
                                }
                            }
                        }
                        else{
                            throw new Error(`"call db " , message = ${RESULT}`)
                    
                        }
                    // } else { 
                    //     throw new new Error(`"call db " , message = ${getsql.dbmessage}`)
                    //     console.log("call db ", getsql.dbmessage);
                    //     alert("call:" + getsql.dbmessage)
                    //     return 0;
                    // }
        } catch (error) {
            console.log(error.message)
            alert("onSubmit:" + error.message)
        }
        }
        async function onSubmit(event) {
        try {
            event.preventDefault();
                    let userId = document.getElementById("user").value || 'MISUPF';
                    let password = document.getElementById("password").value || 'UPFRONT1';

                    let jdata ={
                        "USERID":userId,
                        "PASSWORD":password
                    }
                    let getapi = await call_api("POST","../api/login",jdata);
                    const {access_token ,expires_in,token_type} = getapi
                    console.log(access_token);
             
                    var decodedToken = parseJwt(access_token);
                    const {CCUSERID ,CCUGROUP,CCPRICEORCOST,CCGROUPNAME,CCLSTCHGPWDDAYS} = decodedToken
                    saveCookie('CCTOKEN', access_token);
                    console.log(decodedToken)
                    // saveCookie('CCUSERID', userId);
                    // saveCookie('CCUGROUP', USERGROUP);
                    // saveCookie('CCPRICEORCOST', PRICEORCOST);
                    // saveCookie('CCGROUPNAME', GroupName);
                    // saveCookie('CCLSTCHGPWDDAYS', lastChgPwdDays);
                    if(CCLSTCHGPWDDAYS > 90){
                        window.location.href = "./changepassword";
                    }else{
                        window.location.href = "./selectstore";

                    }
          
        } catch (error) {
            console.log(error.message)
            alert("onSubmit:" + error.message)
        }
        }
        function clearValue(){
            document.getElementById("userLogin").reset();
        }
        document.getElementById("submit").addEventListener("click", onSubmit);
        document.getElementById("clearValue").addEventListener("click", clearValue);
    </script>
</body>

</html>