<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%= title %></title>
    <%- include('../includes/libary.ejs') %>
</head>

<body style="background-color: black;">
    <%- include('../partials/header.ejs') %>

    <div class="container mt-3">

        <div class="container text-light">

            <%- include('../includes/cam.ejs') %>
            <div class="row">
                <div class="col align-self-center">
                    <form id="scanonly">
                        <div class="input-group">
                            <label style="width: 100%; " for="formGroupExampleInput">Location <a
                                    style="float: right; color: dodgerblue" onclick="changeLocation(this)">เปลี่ยน
                                    Location</a></label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="Location" placeholder="โปรดระบุ Location"
                                    autocomplete="off">
                                <div class="input-group-append">
                                    <span class="input-group-text" onclick="opencam('Location')">กล้อง</span>
                                </div>
                            </div>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="skuType" name="customRadioInline1" value="0"
                                class="custom-control-input">
                            <label class="custom-control-label" for="skuType">sku</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="barcodeType" name="customRadioInline1" value="1" checked
                                class="custom-control-input">
                            <label class="custom-control-label" for="barcodeType">barcode</label>
                        </div>
                        <div class="input-group">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="numberSKU" disabled="true"
                                    autocomplete="off" placeholder="โปรดระบุ Barcode">
                                <div class="input-group-append">
                                    <span class="input-group-text" onclick="opencam('numberSKU')">กล้อง</span>
                                </div>
                            </div>
                        </div>
                        <div id="boxMessage"></div>
                        <div id="resultSKU"></div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" onclick="setskuValue(this, -1)"
                                    id="buttonPlus">-</button>
                            </div>
                            <input type="number" min="1" class="form-control" placeholder="insert decimal"
                                aria-label="Example text with button addon" id="skuValue" autocomplete="off"
                                aria-describedby="button-addon1">
                            <div class="input-group-prepend">
                                <button class="btn btn-success" type="button" onclick="setskuValue(this, 1)"
                                    id="buttonMinus">+</button>
                            </div>
                        </div>
                        <!-- <button type="button" id="submit" class="btn btn-success btn-sm btn-block">ยืนยัน</button> -->
                        <!-- <button type="button" onclick="scanOnly(this)" class="btn btn-primary btn-sm btn-block">Scan
                            Only</button> -->
                        <!-- <button type="button" onclick="changeLocation(this)"
                            class="btn btn-warning btn-sm btn-block">เปลี่ยน
                            Location</button>
                        <button type="button" onclick="goBack(this)"
                            class="btn btn-secondary btn-sm btn-block">กลับเมนูหลัก</button> -->
                    </form>
                </div>
            </div>
            <div id="ModalRTV" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">RTV</h5>
                            <button type="button" style="float: right;" class="btn btn-secondary"
                                data-dismiss="modal">Close</button>

                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 mt-1">
                                    <div class="row boxwhite" id='rtvDiv'>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="border-top: 1px solid #fff;">

            <div id="skuScanLists" class='lstPanel'></div>
        </div>
    </div>
    <div class="row" style="height:300px;"></div>
    <script>
        let cntNum = "<%= typeof cntNum!='undefined' ? cntNum : '' %>";
        let userName = "<%= typeof userName!='undefined' ? userName : '' %>";
        $(document).ready(() => {
            setFocus("Location");
            getSKUScanLists();
        })
        async function ckOverNumber(para_num) {
            return new Promise((resolve, reject) => {
                if (para_num > 999) {
                    swal({
                            title: `จำนวน มากกว่า 999 คุณแน่ใจหรือไม่`,
                            text: `คุณต้องการ นับยอดเป็น ${para_num} ใช่หรือไม่`,
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonText: "ยกเลิก",
                            confirmButtonClass: 'btn-danger',
                            cancelButtonText: "ตกลง",
                            cancelButtonClass: 'btn-primary',
                            closeOnCancel: true,
                        },
                        function (isCancel) {
                            if (isCancel) {
                                setValue('skuValue', '');
                                reject(new Error("ยกเลิกการ Update"));
                            } else {
                                resolve('OK');
                            }
                        }
                    );
                } else {
                    resolve('OK');
                }

            });
        }
        async function onSubmit() {
            // document.getElementById('submit').blur();
            try {
                clearMessageBox()
                let numberSKU = getValue('numberSKU');
                let Location = getValue('Location');
                let checkBox = document.getElementById("skuType");
                let number = getValue('skuValue');
                if (!numberSKU || !Location || !number) {
                    alertMessage('showwarning', "กรุณากรอกข้อมูลให้ครบถ้วน", 10000);
                    return;
                }
                let getckOverNumber = await ckOverNumber(number);

                let item = {
                    MOD: 'A',
                    CNTTRANS: null,
                    CNTNUM: cntNum,
                    SKCODE: checkBox.checked ? parseInt(numberSKU) : null, //60003048,//numberSKU,
                    PRCODE: checkBox.checked ? null : numberSKU, //null,
                    LOCATION: Location,
                    CNTQNT: parseFloat(number),
                    USERID: userName,
                    HOSTNAME: ''
                };
                let getapi = await call_api("POST", "../api/scan", item, 'auth');
                if (getapi.data.dbcode === 0) {
                    let result = getapi.data.dbitems[0].RESULT;
                    if (result != 'OKOK') {
                        alertMessage('showwarning', result, 10000);
                        return
                    } else {
                        alertMessage('showsuccess', 'สำเร็จ!', 10000);
                        setValue('numberSKU', '');
                        setValue('skuValue', '');
                        setFocus('numberSKU');
                        document.getElementById("numberSKU").scrollIntoView();
                        getSKUScanLists();
                    }
                }
            } catch (error) {
                alertMessage('showerr', error, 10000);
            }
        }

        function onSubmitKeypress(e) {
            if (e.keyCode == 13) {
                onSubmit();
            }
        }



        function scanOnly(obj) {
            obj.blur();
            window.location = "/scanonly";
        }

        // async function addlocation() {
        //     try {
        //         let location = document.getElementById("Location").value;
        //         let item = {
        //             CNTNUM: cntNum,
        //             LOCATION: location,
        //             USERID: userName,
        //         }
        //         let getapi = await call_api("POST", "../api/addcntlocation", item, 'auth');
        //         let jsn = getapi.data;
        //         if (!(jsn.dbcode == 0)) {
        //             alertMessage('showerr', jsn.dbmessage, 10000);
        //             setValue('Location', '');
        //             setFocus('Location');
        //             return;
        //         }

        //         let result = jsn.dbitems[0].RESULT;
        //         if (result != 'OKOK') {
        //             alertMessage('showwarning', `ไม่สามารถ Add Location ${location} ได้ ` + result, 10000);
        //             setValue('Location', '');
        //             setFocus('Location');
        //             return;
        //         }
        //         alertMessage('showsuccess', 'Add Location สำเร็จ', 10000);
        //         document.getElementById("Location").setAttribute('disabled', true);
        //         setFocus('numberSKU');
        //     } catch (error) {
        //         alertMessage('showerr', error, 10000);
        //     }
        // }

        function setInput() {
            document.getElementById('numberSKU').placeholder =
                (document.querySelector('input[name="customRadioInline1"]:checked').value === '0') ?
                'โปรดระบุ SKU' : 'โปรดระบุ Barcode';
            setFocus('numberSKU');
        }

        async function sendNumberSKU(e) {
            if (e.keyCode == 13) {
                try {
                    clearMessageBox()

                    let checkBox = document.getElementById("skuType");
                    let number = getValue('numberSKU');
                    if (number.includes('.com')) {
                        number = number.substring(number.length - 8, number.length);
                        setValue('numberSKU', number);
                    }

                    if (!checkBox.checked && number.length < 13) {
                        alertMessage('showwarning', "กรุณาระบุหมายเลข Barcode ให้ถูกต้อง", 10000);
                        return
                    }

                    if (checkBox.checked && number.length != 8) {
                        alertMessage('showwarning', "กรุณาระบุหมายเลข SKU ให้ถูกต้อง", 10000);
                        return
                    }

                    let getstcode = readCookie("CCSTCODE")
                    let item = {
                        KEYSRC: number,
                        STCODE: getstcode
                    };
                    let getapi = await call_api("POST", "../api/getproductinfo", item, 'auth');
                    if (getapi.data.dbrows == 0) {
                        alertMessage('showwarning', "ไม่พบข้อมูลสินค้า", 10000);
                        return;
                    }
                    setResultScanSKU(getapi.data.dbitems[0], number);
                    setFocus("skuValue");
                } catch (error) {
                    alertMessage('showerr', error, 10000);
                }
            }
        }

        // function setResultScanSKU(itms) {
        //     let {
        //         BRAND,
        //         COLOR,
        //         MODEL,
        //         MULTISALE,
        //         PRNAME,
        //         PRTYPE,
        //         SIZE,
        //         UNITSIZE,
        //         SKCODE,
        //         IMAGE,
        //         RTVWORK,
        //         ALCTOOUT
        //     } = itms;
        //     let html = `
        //     <center>
        //         <img src="data:image/jpeg;base64,${IMAGE}" width="50%" alt="">
        //     </center>
        //     <hr style="border-top: 1px solid #fff;">
        //                 <div class="row">
        //                     <div class="col-12">
        //                         <center><p>ข้อมูล SKU: ${SKCODE}</p></center>
        //                     </div>
        //                     <div class="col-12">
        //                         <p class='scan-txt'>ชื่อสินค้า: ${PRNAME}</p>
        //                     </div>
        //                     <div class="col-6">
        //                         <p class='scan-txt'>ยี่ห้อ: ${BRAND}</p>
        //                     </div>
        //                     <div class="col-6">
        //                         <p class='scan-txt'>รุ่น: ${MODEL}</p>
        //                     </div>
        //                     <div class="col-6">
        //                         <p class='scan-txt'>สี: ${COLOR}</p>
        //                     </div>
        //                     <div class="col-6">
        //                         <p class='scan-txt'>Multisale: ${MULTISALE}</p>
        //                     </div>
        //                     <div class="col-6">
        //                         <p class='scan-txt'>ไซส์: ${SIZE}</p>
        //                     </div>
        //                     <div class="col-6">
        //                         <p class='scan-txt'>หน่วย: ${UNITSIZE}</p>
        //                     </div>
        //                     <div class="col-6">
        //                         <p class='scan-txt'>RTV: ${RTVWORK}</p>
        //                     </div>
        //                     <div class="col-6">
        //                         <p class='scan-txt'>TRF: ${ALCTOOUT}</p>
        //                     </div>
        //                 </div>
        //             `;
        //     document.getElementById("resultSKU").innerHTML = html +
        //         `<hr style="border-top: 1px solid #fff;">`;
        // }

        function setskuValue(obj, val) {
            obj.blur();
            let qty = getValue('skuValue');
            if (qty == '' && val < 0 || qty == 0 && val < 0) {
                setValue('skuValue', parseFloat(0).toFixed(2));
            } else if (qty == '' && val > 0) {
                setValue('skuValue', parseFloat(1).toFixed(2));
            } else {
                setValue('skuValue', (qty ? (parseFloat(qty) + parseFloat(val)).toFixed(2) :
                    parseFloat(val).toFixed(2)));
            }
        }


        document.getElementById("skuType").addEventListener("change", setInput);
        document.getElementById("barcodeType").addEventListener("change", setInput);
        document.getElementById("Location").addEventListener("keypress", setLocation);
        // document.getElementById("submit").addEventListener("click", onSubmit);
        document.getElementById("skuValue").addEventListener("keypress", onSubmitKeypress);
        document.getElementById("numberSKU").addEventListener('keypress', sendNumberSKU)
    </script>
</body>

</html>