<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%= title %></title>
    <%- include('../includes/libary.ejs') %>
</head>

<body style="background-color: black;">
    <%- include('../partials/header.ejs') %>
    <div class="container">
        <a class="col-sm-9 text-light" id="setTiming"></a>
    </div>
    <div class="container mt-3">
        <div class="container text-light">
            <div class="row">
                <div class="col form-group">
                    <label for="selectstoreoptine">เลือกสาขา</label>
                    <select class="form-control" onchange="ChSelectStore(this)" id="selectstoreoptine">
                        <option value="" disabled selected>เลือกสาขา</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="countnameoptine">เลือกใบนับ</label>
                    <select class="form-control" id="countnameoptine">
                        <option value="" disabled selected>เลือกใบนับ</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col align-self-center">
                    <form>
                        <!-- <div class="form-group">
                      <label for="scansku">Scan SKU</label>
                      <input type="text" class="form-control is-invalid" id="scansku" placeholder="Example input placeholder">
                    </div> -->
                        <button type="button" onclick="confirm()"
                            class="btn btn-primary btn-sm btn-block">ยืนยัน</button>

                    </form>
                </div>
            </div>
            <br>
            <div id="boxMessage"></div>
        </div>
    </div>
    <div class="row" style="height:300px;"></div> 
    <script>
        function confirm() {
            try {

                var obj = JSON.parse($("#selectstoreoptine").val());
                if (obj == null) {
                    alertMessage('showwarning', "กรุณาระบุสาขา และใบนับให้ครบถ้วน", 5000);
                    return
                }
                let getST_CODE = obj.ST_CODE || '';
                let getSTMERCH = obj.STMERCH || '';
                let getST_TNAME = obj.ST_TNAME || '';
                let getSTSCODE = obj.ST_SCODE || '';
                let getcountnum = $("#countnameoptine").val();
                if (!getST_CODE || !getcountnum || !getSTMERCH || !getST_TNAME) {
                    alertMessage('showwarning', "กรุณาระบุสาขา และใบนับให้ครบถ้วน", 5000);
                    return
                }
                saveCookie('CCSTCODE', getST_CODE);
                saveCookie('CCSTFCODE', getSTMERCH);
                saveCookie('CCSTNAME', getST_TNAME);
                saveCookie('CCCNTNUM', getcountnum);
                saveCookie('CCSTSCODE', getSTSCODE);
                window.location = "/maincontrol";
            } catch (error) {
                alertMessage('showerr', error, 10000);
            }
        }

        function run() {
            // const profileList = readCookie('CCUPROFILE');
        }
        setInterval(() => {
            var date = new Date();
            var time = date.toLocaleTimeString();
            document.getElementById("setTiming").innerHTML = time;
        }, 1000);
        async function getStoreByUser() {
            try {

                let getapi = await call_api("POST", "../api/getstorebyuser", {}, 'auth');
                console.log("🚀 ~ file: selectstore.ejs ~ line 70 ~ getStoreByUser ~ getapi", getapi)
                const {
                    dbitems
                } = getapi.data
                console.log("🚀 ~ file: selectstore.ejs ~ line 76 ~ getStoreByUser ~ dbitems", dbitems)
                $("#selectstoreoptine").html('<option value="" disabled selected>เลือกสาขา</option>')
                for (let e of dbitems) {
                    $("#selectstoreoptine").append(
                        `
                    <option value='{"ST_CODE":"${e.ST_CODE}","ST_TNAME":"${e.ST_TNAME}","STMERCH":"${e.STMERCH}","ST_SCODE":"${e.ST_SCODE}"}'>${e.STMERCH} - ${e.ST_SCODE} - ${e.ST_TNAME}</option>                    `
                    )
                }

                // selectstoreoptine

            } catch (error) {
                console.log("🚀 ~ file: selectstore.ejs ~ line 73 ~ getStoreByUser ~ error", error)
                alertMessage('showerr', error, 10000);
            }
        }
        async function ChSelectStore(para_this) {

            try {
                var obj = JSON.parse($(para_this).val());
                if (obj) {
                    let getstcode = obj.ST_CODE;

                    let getapi = await call_api("POST", "../api/countname", {
                        STCODE: getstcode
                    }, 'auth');
                    console.log("🚀 ~ file: selectstore.ejs ~ line 70 ~ getStoreByUser ~ getapi", getapi)
                    const {
                        dbitems
                    } = getapi.data
                    $("#countnameoptine").html('<option value="" disabled selected>เลือกใบนับ</option>')
                    for (let e of dbitems) {
                        if (e.TIMEUP == true) {
                            $("#countnameoptine").append(`
                        <option disabled value="${e.CNTNUM}">(หมดเวลานับ) ${e.CNTNUM + ' - ' + e.CNTNAME}</option>
                    `)
                        } else {
                            $("#countnameoptine").append(`
                        <option value="${e.CNTNUM}">${e.CNTNUM + ' - ' + e.CNTNAME}</option>
                    `)
                        }

                    }
                }
            } catch (error) {
                alertMessage('showerr', error, 10000);
                console.log("🚀 ~ file: selectstore.ejs ~ line 98 ~ ChSelectStore ~ error", error)
            }
        }
        $(document).ready(function () {
            removeCookie('CCSTCODE');
            removeCookie('CCSTFCODE');
            removeCookie('CCSTNAME');
            removeCookie('CCCNTNUM');
            removeCookie('CCSTSCODE');
            getStoreByUser();
        });
    </script>
</body>

</html>