<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%= title %></title>
    <%- include('../includes/libary.ejs') %>
</head>

<body style="background-color: black;">
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/userinfo.ejs') %>
    <div class="container mt-3">  
        <div class="row justify-content-around">
            <p class=" text-center text-light">Location Bangna</p>
        </div>
        <div class="container text-light">
            <div class="row">
              <div class="col align-self-center">
                <form>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Scan SKU</label>
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Scan">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Edit Number</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Scan">
                    </div>
                    <button type="button" id="showData" class="btn btn-info btn-lg btn-block">แสดงข้อมูล</button>
                    <button type="button" class="btn btn-primary btn-lg btn-block">ยืนยัน</button>
                    <button type="button" onclick="goBack()" class="btn btn-secondary btn-lg btn-block">กลับเมนูหลัก</button>
                </form>
              </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
    <script>
        function onShowData(){
            $('#exampleModal').modal('show');
        }
        function goBack() {
            window.location = "/maincontrol";
        }
        setInterval(() => {
            var date = new Date();
            var time = date.toLocaleTimeString();
            document.getElementById("setTiming").innerHTML = time;
        }, 1000);
        document.getElementById("showData").addEventListener("click", onShowData);
    </script>
</body>

</html>